.dragobj {
  border: 1px solid red;
}

.img_drag {
  width: 100%;
  height: 100%;
  position: absolute;
}
.box {
  // transform-origin: top left;
  // transform: translate(-50%, -50%);
}
.outlinebox {
  background-color: red;
  position: relative;
}
.corner {
  width: 16px;
  height: 16px;
  background-color: white;
  border: 0.5px solid black;
  user-select: none;
  border-radius: 30px;
  &:hover {
    background-color: #8b3dff;
  }
}
