.dragobj {
  border: 1px solid red;
}

.img_drag {
  width: 100%;
  height: 100%;
  position: absolute;
  user-select: none;
}
.box {
  user-select: none;
}

.corner {
  width: 16px;
  height: 16px;
  background-color: white;
  border: 0.5px solid black;
  user-select: none;
  border-radius: 30px;
  &:hover {
    background-color: #8b3dff;
  }
}
